.footer {
    padding: 22px 0 37px 0;
    background-color: #2F3132;
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 7px;
        line-height: 8px;
        text-align: center;
        color: #C7C8C8;
    }
}