.promo {
    position: relative;
    padding: 25px 0 48px 0;
    background: #E0E1E2;
    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        margin: 0 auto;
    }
    &__img {
        margin-top: 94px;
        height: 230px;
        background: url('../img/MX-Master 1.png') no-repeat center;
        background-size: auto;
    }
    &__text {
        margin: 0 auto;
        margin-top: 67px;
        width: 308px;
    }
    &__arrow {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}

nav {
	width: 100%;
    z-index: 5;
}

.hamburger {
    display: block;
    position: absolute;
    right: 28px;
    top: 32px;
    width: 30px;
    height: 15px;
    span { 
        display: block ;
        height: 4px;
        width: 100%;
        background-color: rgba(47, 49, 50, 1);
        margin-bottom: 4px;
        transition: 0.5s all;
    }
    &_active {
        span {
            margin-bottom: -4px;
            background-color: rgba(255, 255, 255, 1);
            &:nth-child(1) {
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
            }
        }
    }
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0,0,0, 1);
    transition: 0.6s all;
    &_active {
        left: 0;
    }
    &_item {
        list-style-type: none;
        padding-right: 0;
        border: none;
        margin: 16px 0;
    }
    &_link {
        position: relative;
        font-style: normal;
        font-weight: 900;
        line-height: 23px;
        font-size: 20px;
        color:rgba(196, 196, 196, 1); /*задаём цвет ссылки*/
        cursor: pointer;
        line-height: 1; /*задаём высоту строки*/
        &:hover {
            text-decoration: none; /*убираем подчёркивание*/
            color:rgba(255, 255, 255, 1);
        }
        &:after {
            display: block;
            position: absolute;
            left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
            width: 0;/*задаём длинну линии до наведения курсора*/
            height: 2px; /*задаём ширину линии*/
            background-color: rgba(255, 255, 255, 1); /*задаём цвет линии*/
            content: "";
            transition: width 0.3s ease-out; /*задаём время анимации*/
        }
        &:hover:after,
        &:focus:after {
            width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
        }
    }
}


// header
// 	position: relative;
// 	height: 50px;


   
// .hamburger
// 	display: none
// .menu
// 	display: flex
// 	justify-content: space-between
// 	padding: 13px 70px
// 	margin: 0
// 	list-style-type: none
// 	&_link
// 		color: #ffffff
// 		font-size: 15px
// 		font-weight: 300
// 		&:hover 
// 			text-decoration: 
// 			color: red
// 	&_item
// 		border-right: 2px dotted black
// 		padding-right: 28px
// 		&:last-child
// 			border-right: none

           
        