.table {
    padding: 70px 0 63px 0;
    &__text {
        margin: 0 auto;
        margin-top: 20px;
        width: 247px;
    }
    &__wrapper {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 6px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 166px;
        min-height: 94px;
        border: 1px solid #000;
    }
    &__carousel {
        margin-top: 50px;
    }
    &__title {
        margin-top: 28px;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #2F3132;
    }
    &__descr {
        margin: 0 auto;
        margin-top: 70px;
        width: 308px;
    }
}
.table>:not(caption)>*>* {
    padding: 0;
}


