.title {
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #2F3132;
    &_fz14 {
        margin: 0 auto;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
    &_fz16 {
        margin: 0 auto;
        margin-top: 20px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }
    &_fz60 {
        font-size: 60px;
        line-height: 70px;
        text-transform: uppercase;
        color: #C4C4C4;
    }
    &_width {
        width: 308px;
    }
    &_white {
        margin-top: 20px;
        color: white;
    }
}